{# Automatically extends the right outer layout and also handles AJAX siutations #}
{% extends data.outerLayout %}

{% block title %}
  {# Create a useful, SEO-friendly title tag based on what we have #}
  {% if data.piece %}
    {{ data.piece.title }}
  {% elseif data.page %}
    {{ data.page.title }}
  {% else %}
    {{ apos.log('Looks like you forgot to override the title block in a template that does not have access to an Apostrophe page or piece.') }}
  {% endif %}
{% endblock %}

{% block extraHead %}
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-113135812-2"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-113135812-2');
  </script>
  <link rel="stylesheet" href="https://unpkg.com/tachyons@4.9.0/css/tachyons.min.css"/>
  <link href="https://fonts.googleapis.com/css?family=Poppins:400,700" rel="stylesheet">
{% endblock %}

{% block beforeMain %}
  {#  Headers or Navigation  #}
  <div class="absolute w-100 bg-white bg-transparent-ns z-1">
    <nav class="w-site center w-80-ns tr">
      <div class="center tc pt3 pl3">
        <a href="{{ data.home._url }}" class="fl">
          <!-- See https://github.com/cul-2016/site/issues/34 for reason this
        if statement was used -->
          {% if data.piece.tags == "" %}
            <img src="../images/logo_na_dark.svg" alt="Quodl logo" class="w3-5">
          {% else %}
            <img src="../../images/logo_na_dark.svg" alt="Quodl logo" class="w3-5">
          {% endif %}
        </a>
      </div>
      <a href="{{ data.home._url }}" class="no-underline pt3 pl3 fw6 fl black dn dib-ns">Quodl</a>
      <div class="dib dn-ns pr5">
        <a href="https://www.quodl.co.uk" class="no-underline white">
          <li class="dib ml4-ns fw6 ph3 pv2 br-pill bg-bright-orange">
            Log in
          </li>
        </a>
      </div>
      <input type="checkbox" id="burger" class="absolute top-2 right-1 dn">
      <label for="burger" class="dn-l pointer absolute top-1 right-1">
        <img src="../images/menu.svg" alt="burger menu" class="w2 dn-ns">
      </label>
      <ul class="tr list w-100 w-75-ns dn dib-ns fr menu quodl-bg-blue-s mt2 pt2 mb0 pt0-ns ph0 shadow-2-s">
        {% for nav_item in data.home._children %}
          <li class="db dib-ns tc center pl4-ns fw6 pv3 pv0-ns">
            <a href="{{ nav_item._url }}" class="no-underline white quodl-black-ns">
              {{ nav_item.title }}
            </a>
          </li>
        {% endfor %}
        <div class="center tc pv3 pv0-ns dn dib-ns">
          <a href="https://www.quodl.co.uk" class="no-underline white">
            <li class="dib ml4-ns fw6 ph3 pv2 br-pill bg-bright-orange">
              Log in
            </li>
          </a>
        </div>
      </ul>
    </nav>
  </div>
{% endblock %}

{% block main %}
  {#  Page templates go here  #}
{% endblock %}

{% block afterMain %}
  <section class="quodl-bg-dark-blue pv4 white">
    <div class="w-80 center">
      <a href="/contact" class="white f6">Contact Us</a>
      <p>Copyright © 2018, Quodl All Rights Reserved</p>
    </div>
  </section>
{% endblock %}
