{# Automatically extends the right outer layout and also handles AJAX siutations #}
{% extends data.outerLayout %}

{% block title %}
  {# Create a useful, SEO-friendly title tag based on what we have #}
  {% if data.piece %}
    {{ data.piece.title }}
  {% elseif data.page %}
    {{ data.page.title }}
  {% else %}
    {{ apos.log('Looks like you forgot to override the title block in a template that does not have access to an Apostrophe page or piece.') }}
  {% endif %}
{% endblock %}

{% block extraHead %}
  <link rel="stylesheet" href="https://unpkg.com/tachyons@4.9.0/css/tachyons.min.css"/>
  <link href="https://fonts.googleapis.com/css?family=Poppins:400,700" rel="stylesheet">
{% endblock %}

{% block beforeMain %}
  {#
    We recommend you use the beforeMain block for global page components
    like headers or navigation.
  #}<div class="absolute w-100">
    <nav class="w-site center w-80">
      <div class="center tc pt3">
        <a href="{{ data.home._url }}" class="fl">
          <img src="../images/logo_na_dark.svg" alt="Quodl logo" class="w3-5">
        </a>
      </div>
      <a href="{{ data.home._url }}" class="no-underline pt3 pl3 fw6 fl black">Quodl</a>
      <ul class="list dib fr">
        {% for nav_item in data.home._children %}
          <li class="dib pl4 fw6">
            <a href="{{ nav_item._url }}" class="no-underline black">
              {{ nav_item.title }}
            </a>
          </li>
        {% endfor %}
      </ul>
    </nav>
  </div>
{% endblock %}

{% block main %}
  {#
    Usually, your page templates in the apostrophe-pages module will override
    this block. It is safe to assume this is where your page-specific content
    should go.
  #}
{% endblock %}

{% block afterMain %}
  {#
    This would be a great place to put a global footer.
  #}
{% endblock %}
