{%- macro renderBlogListings(pieces, options) -%}
  {%- if pieces -%}
    <ul class="list pl0">
      {%- for piece in pieces -%}
        {{ renderBlogListing(piece) }}
      {%- endfor -%}
    </ul>
  {%- else -%}
    <h2>{{ __('There are no blog posts yet.') }}</h2>
  {%- endif -%}
{%- endmacro -%}

{%- macro renderBlogListing(piece) -%}
{% set image = apos.images.first(piece) or null %}
  <a href="{{ piece._url }}" class="no-underline">
    <li class="dib w-49-ns bg-white v-top ph2-ns pb4">
      <span class="black no-underline o-50 b pb0">{{ piece.publishedAt | date('MMMM DD, YYYY' ) }}</span>
      <h4 class="mv1"><a href="{{ piece._url }}" class="black no-underline f3">{{ piece.title | e }}</a></h4>
      <p class="mv0">{{ apos.quodl.areaToPlainText(piece, 'main') | truncate(100) }}</p>
      {% if piece.authorId %}
      <h5>{{ piece._author.title }}</h5>
      {% endif %}
    </li>
  </a>
{%- endmacro -%}

{%- macro blogCard(piece) -%}
  <div class="dib w-40 mh3 shadow-2">
    <div class="">
      <div class="">
        {{ apos.singleton(piece, 'slideshow', 'apostrophe-images', { limit: 1, aspectRatio: [324, 162], noHeight: true, edit: false, size: 'one-third' }) }}
        <span class="">{{ piece.publishedAt | date('MMM Do, YYYY') }}</span>
        <a href="{{ piece._url }}" class="no-underline"><h6 class="orange f4">{{ piece.title }}</h6>
        {% if piece.authorId %}
          <span class="">{{ piece._author.title }}</span>
        {% endif %}
        </a>
      </div>
    </div>
  </div>
{%- endmacro -%}
