{%- macro renderBlogListings(pieces, options) -%}
  {%- if pieces -%}
    <ul class="list pl0">
      {%- for piece in pieces -%}
        {{ renderBlogListing(piece) }}
      {%- endfor -%}
    </ul>
  {%- else -%}
    <h2>{{ __('There are no blog posts yet.') }}</h2>
  {%- endif -%}
{%- endmacro -%}

{%- macro renderBlogListing(piece) -%}
{% set image = apos.images.first(piece) or null %}
  <a href="{{ piece._url }}" class="no-underline">
    <li class="dib w-49-ns bg-white v-top ph2-ns pb4">
      <span class="black no-underline o-50 b pb0">{{ piece.publishedAt | date('MMMM DD, YYYY' ) }}</span>
      <h4 class="mv1"><a href="{{ piece._url }}" class="black no-underline f3">{{ piece.title | e }}</a></h4>
      <p class="mv0">{{ apos.quodl.areaToPlainText(piece, 'main') | truncate(100) }}</p>
      {% if piece.authorId %}
      <h5>{{ piece._author.title }}</h5>
      {% endif %}
    </li>
  </a>
{%- endmacro -%}

{%- macro blogCard(piece) -%}
  <div class="dib w-90 w5-ns tl v-top mr5-ns">
    {{ apos.singleton(piece, 'slideshow', 'apostrophe-images', { limit: 1, aspectRatio: [324, 162], noHeight: true, edit: false, size: 'one-third' }) }}
    <span class="o-50 b">{{ piece.publishedAt | date('MMMM D, YYYY') }}</span>
    <a href="{{ piece._url }}" class="no-underline">
      <h6 class="f4 quodl-black mv3 lh-copy">{{ piece.title }}</h6>
      <p class="mv0 quodl-black word-break-all">{{ apos.quodl.areaToPlainText(piece, 'main') | truncate(100) }}</p>

      {% if piece.authorId %}
        <span class="">{{ piece._author.title }}</span>
      {% endif %}
    </a>
  </div>
{%- endmacro -%}
